<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sweeper</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <style>
        #board{
           margin-top: 10px; 
        }
        .cell {
            width: 20px;
            height: 20px;
            background: grey;
        }
        .1{
            color: gray;
        }
    </style>
    <body>
        <div id="app">
            <h1>Haskell Minesweeper</h1>
            <p>
                Click cells to reveal them, use the flag option to flag cells when clicking. Ai move will attempt to
                make the best move possible but won't always be able to do. If you want to restart just create a new game.
            </p>
            <button v-on:click="newGame">New Game</button>
            <button v-on:click="aiMove">Ai Move</button>
            <h2 v-if="win">You Win!</h2>
            <h2 v-if="lost">You Lose :(</h2>
            <label for="flagged">Flag Mode</label>
            <input type="checkbox" v-model="flag" id="flagged">
            <table id ="board">
                <tr v-for="(row,x) in boardState">
                    <th class="cell" v-for="(item,y) in row" v-on:click="makeMove(x,y)" v-bind:class="{item}" >{{ item }}</th>
                </tr>
            </table>
        </div>
        <script type="application/javascript">
            new Vue({
                el: "#app",
                data: {
                    boardState: ["***","***", "***"],
                    boardSol: [[]],
                    win: false,
                    lost: true,
                    flag: false
                },
                methods: {
                    newGame: function(){
                        console.log("Making a new game");
                        axios.get("http://localhost:3000/new")
                        .then(resp =>{
                            console.log(resp.data);
                            this.boardState = resp.data.state;
                            this.boardSol = resp.data.sol;
                            this.win = resp.data.isWon;
                            this.lost = resp.data.isLost;
                        })
                        .catch(error => {})
                    },
                    aiMove: function(){
                        console.log("Making a AI move");
                        axios.post("http://localhost:3000/ai", {
                            "mvState": this.boardState,
                            "mvSol": this.boardSol,
                            "x": 0,
                            "y": 0,
                            "mvType": false,
                        })
                        .then(resp =>{
                            console.log(resp.data);
                            this.boardState = resp.data.state;
                            this.boardSol = resp.data.sol;
                            this.win = resp.data.isWon;
                            this.lost = resp.data.isLost;
                        })
                        .catch(error ={})
                    },
                    makeMove: function(x,y){
                        x = x+1;
                        y = y+1;
                        flag = ! this.flag;
                        console.log("Making a move: " + x + ", " + y + " Reveal: " + flag);
                        axios.post("http://localhost:3000/",{
                            "mvState": this.boardState,
                            "mvSol": this.boardSol,
                            "x": x,
                            "y": y,
                            "mvType": this.flag,
                        })
                        .then(resp =>{
                            console.log(resp.data.state);
                            this.boardState = resp.data.state;
                            this.boardSol = resp.data.sol;
                            this.win = resp.data.isWon;
                            this.lost = resp.data.isLost;
                        })
                        .catch(error ={})
                    }
                },
                mounted: function(){}
            });
        </script>
    </body>
</html>